<div class="col-md-6 col-lg-4 col-xs-12 mb-3">

    <div class="wrapper">
        <div class="productcard">
            <div class="top" style=" background: url( <%= product.photo %> ) no-repeat center center; background-size: contain; "></div>
            <div class="bottom">
            <div class="left">
                <div class="details">
                <h1><%= product.name %></h1>
                <p><%= product.price %>€</p>
                </div>
                <div class="buy"><i class="fas fa-cart-plus"></i></div>
            </div>
            </div>
        </div>
    </div>

</div>