<div class="wrapper">
    <div class="productcard">
        <div class="top" style=" background: url( <%= product.photo %> ) no-repeat center center; background-size: contain; "></div>
        <div class="bottom">
            <div class="left">
                <div class="details">
                    <h1><%= product.name %></h1>
                    <p><%= humanized_money_with_symbol(product.price) %></p>
                </div>
                <%= link_to order_products_path(product, product_id: product.id), :method => "post", remote: true, class: "buy" do %>
                    <i class="fas fa-cart-plus"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>
