// Specific CSS for your home-page
body {
    background-color: #FFF;
}

.title-home {
   font-weight: 300;
   font-size: 50px;
   color: #adabab;
}
#navbar {
    box-shadow: 0 0.063rem 0.313rem 0 rgba(0,0,0,0.07),0 0.063rem 0 0 rgba(0,0,0,0.03); /* 1/16, 5/16, 1/16 */
    background: #FFF;
    transition: all 0.3s ease;
    height: 4.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 2px;
    padding: 0rem 1.875rem 0rem 0.625rem;
}

#navbar a {
    text-decoration: none;
    padding-bottom: 26px;
    padding-top: 26px;
}

.navbar-link:hover {
    color: #FD712B !important;
    transition: all 0.2s ease;
    padding-bottom: 24px !important;
}

#navbar a:hover {
    border-bottom: 2px solid #FD712B;
}

.navbar-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    cursor: pointer;
    padding: 0 1.25rem; /* 20/16 */
}

.navbar-link {
    color: #1E2022;
    font-size: 0.875rem; /* 14/16 */
}

.navbar-link:hover {
    color: #048998;
}

.fixed {
    position: sticky;
    z-index: 10;
    top: 0;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.title {
    display: flex;
    letter-spacing: 2px;
}

.basket {
    padding-top: 14px !important;
    font-size: 1.5rem;
}

#products {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}

#productors {
    display: block;
    position: relative;
    top: -5rem;
    visibility: hidden;
}
@media only screen and (max-width : 992px) {

    #navbar a {
        padding-bottom: 30px !important;
        padding-top: 30px;
        letter-spacing: 0px !important;
    }

    .navbar-link {
        color: #1E2022;
        font-size: 0.6rem;
    }

    #navbar a:hover {
        border-bottom: none !important;
    }

    .basket {
        font-size: 1rem;
    }
}
