<div class="title text-center">
  <%# <%= image_tag("paysriberacois", class: "logo mx-3 my-4") %>
  <div class="mx-auto my-4">
    <h2 class="mt-2">MY PERIGORD</h2>
    <p>Les produits locaux de qualité</p>
  </div>
</div>

<div id="navbar" class="fixed">

  <a href="#accueil" class="navbar-item navbar-link">ACCUEIL</a>
  <a href="#products" class="navbar-item navbar-link">NOS PRODUITS</a>
  <a href="#productors" class="navbar-item navbar-link">NOS PRODUCTEURS</a>
  <a href="#login" class="navbar-item navbar-link">SE CONNECTER</a>
  <a href="#cart" class="basket navbar-item navbar-link"><i class="fas fa-shopping-basket"></i></a>

</div>