<div class="title text-center">
  <%= image_tag("paysriberacois", class: "logo m-2") %>
  <div class="mx-auto">
    <h2 class="mt-2">MyPerigord</h2>
    <p>Producteurs Locaux du Perigord</p>
  </div>
</div>

<div id="navbar" class="fixed">

  <a href="#accueil" class="navbar-item navbar-link">Accueil</a>
  <a href="#productors" class="navbar-item navbar-link">Nos Producteurs</a>
  <a href="#login" class="navbar-item navbar-link">Se connecter</a>
  <a href="#cart" class="navbar-item navbar-link"><i class="fas fa-shopping-cart"></i></a>

</div>

<h1 class='m-auto'>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
