<div class="title text-center">
  <%= image_tag("paysriberacois", class: "logo mx-3 my-4") %>
  <div class="mx-auto my-4">
    <h2 class="mt-2">MY PERIGORD</h2>
    <p>Les produits locaux de qualité</p>
  </div>
</div>

<div id="navbar" class="fixed">

  <a href="#accueil" class="navbar-item navbar-link">ACCUEIL</a>
  <a href="#productors" class="navbar-item navbar-link">LES PRODUCTEURS</a>
  <a href="#login" class="navbar-item navbar-link">SE CONNECTER</a>
  <a href="#order" class="navbar-item navbar-link"><i class="fas fa-shopping-cart"></i></a>

</div>

<h1 class='m-auto'>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
