<%= image_tag("banner", class: "img-fluid mb-3") %>

<div class="text-center title-home">Nos Produits</div>

<div class="row">
  <a id="products"></a>
    <% @products.each do |product| %>
      <%= render partial: "components/product", locals: {product: product}%>
    <% end %>
</div>

<div class="text-center title-home">Nos Producteurs</div>

<div class="row">
  <a id="productors"></a>
  <% @productors.each do |productor| %>
    <%= render partial: "components/productor", locals: {productor: productor}%>
  <% end %>
</div>
