<%= image_tag("banner", class: "img-fluid mb-3") %>

  <a id="products"></a>
<h2 class="text-center">NOS PRODUITS</h2>

  <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-6 col-lg-4 col-xs-12 mb-3">
          <%= render partial: "components/product", locals: {product: product}%>
        </div>
      <% end %>
  </div>


<h1 class='m-auto'>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
