.order_title a {
   text-decoration: none !important;
    opacity: 0.6;
    color: black;
  &:hover {
    text-decoration: none !important;
    opacity: 1;
  }
}
.order-list {
  margin-top: 50px;
}
.page_size {
  min-height: calc(100vh - 300px);
  margin-top: 15px;
}

.cart-style {
  font-size: 1.6rem;
  color: rgb(10, 10, 10)
}

.line-bottom {
  border-bottom: 1px solid rgba(150,150,150,0.5);
  margin-right: 15%;
  margin-left: 15%;
}
