.order_title a {
   text-decoration: none !important;
    opacity: 0.6;
    color: black;
  &:hover {
    text-decoration: none !important;
    opacity: 1;
  }
}
.order-list {
  margin-top: 50px;
}
.page_size {
  min-height: calc(100vh - 300px);
  margin-top: 15px;
}
