.image_product_show {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.productor {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    margin: 30px 0;
    letter-spacing: 8px;
    opacity: 0.4;
}

.productor-first-name {
  letter-spacing: none;
  color: white;
}

.productor-last-name {
  letter-spacing: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;

}
.image-productor {
  max-width: 100%;
}
.background-color {
  background: rgb(73, 60, 70);
}

.product-description {
  font-size: 0.8rem;
}
