<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          <div class="img_product_show">
            <%= image_tag(@product.photo) %>
          </div>
        </div>
        <div class="col-lg-8">
          <div>
            <%= @product.name %>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 text-center">
      <h1>producteur</h1>
    </div>
  </div>
</div>

<!-- <div>
  <%= @product.description %>
</div>

<div>
  <%= @product.price %>
</div> -->
